In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from functools import reduce
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
117,tt3614530,5000000,2333684,Jem and the Holograms,Aubrey Peeples|Stefanie Scott|Aurora Perrineau...,Jon M. Chu,Every Generation Needs a Voice.,"In a hyper-linked social media age, an orphane...",119,Drama|Music|Adventure|Fantasy,Universal Pictures|Blumhouse Productions|Hasbr...,10/22/2015,5.7,2015
1090,tt0319343,32000000,173398518,Elf,Will Ferrell|James Caan|Zooey Deschanel|Mary S...,Jon Favreau,"This holiday, discover your inner elf.",When young Buddy falls into Santa's gift sack ...,97,Romance|Comedy|Family|Fantasy,New Line Cinema|Gold/Miller Productions|Guy Wa...,10/9/2003,6.5,2003
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013
102,tt3722070,6000000,41387687,The Lady in the Van,Maggie Smith|Alex Jennings|Frances de la Tour|...,Nicholas Hytner,A mostly true story,The true story of the relationship between Ala...,104,Comedy|Drama,BBC Films|TriStar Productions,11/13/2015,5.9,2015
1542,tt0433386,20000000,39143839,The Grudge 2,Sarah Michelle Gellar|Amber Tamblyn|Edison Che...,Takashi Shimizu,"What Was Once Trapped, Will Now Be Unleashed","In Tokyo, a young woman (Tamblyn) is exposed t...",102,Horror|Thriller,Columbia Pictures Corporation|Ghost House Pict...,10/13/2006,5.3,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
# считаем прибыль для каждого фльма
data['profit'] = data.revenue - data.budget
# формируем жанры в виде списка. так легче с ними работать
data['genres_list'] = data.genres.str.split('|')
data['directors_list'] = data.director.str.split('|')
data['actors_list'] = data.cast.str.split('|')
data['actors_pairs'] = data.actors_list.apply(lambda x: list(combinations(x, 2)))
data['production_companies_list'] = data.production_companies.str.split('|')
data["release_date"] = pd.to_datetime(data.release_date)
data['release_month'] = data.release_date.dt.month
data['original_title_length'] = data.original_title.str.len()
data['overview_words_count'] = data.overview.str.split(' ').apply(len)

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

def max_in_list_values(df, column_name):
    max_freq = {
        'count': 0,
        'genre': ''
    }
    count_freq = {}
    for list_value in df[column_name]:
        for list_item in list_value:
            count_freq[list_item] = count_freq.get(list_item, 0) + 1
            if count_freq[list_item] > max_freq['count']:
                max_freq['count'] = count_freq[list_item]
                max_freq['genre'] = list_item
    
    return max_freq

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# +
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,...,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall],"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[(Johnny Depp, PenÃ©lope Cruz), (Johnny Depp, ...","[Walt Disney Pictures, Jerry Bruckheimer Films...",5,43,75

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values(by=['budget'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,...,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall],"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[(Johnny Depp, PenÃ©lope Cruz), (Johnny Depp, ...","[Walt Disney Pictures, Jerry Bruckheimer Films...",5,43,75

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
# +
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,...,2003,-43076064,"[Drama, History, War]",[Ronald F. Maxwell],"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[(Stephen Lang, Jeff Daniels), (Stephen Lang, ...","[Turner Pictures, Antietam Filmworks]",2,17,48

ВАРИАНТ 2

In [10]:
data.sort_values(by=['runtime'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,...,2003,-43076064,"[Drama, History, War]",[Ronald F. Maxwell],"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[(Stephen Lang, Jeff Daniels), (Stephen Lang, ...","[Turner Pictures, Antietam Filmworks]",2,17,48

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
# +
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,...,2011,-15540000,"[Animation, Family]","[Stephen Anderson, Don Hall]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[(Jim Cummings, Travis Oates), (Jim Cummings, ...","[Walt Disney Pictures, Walt Disney Animation S...",4,15,52

ВАРИАНТ 2

In [12]:
data.sort_values(by=['runtime'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,...,2011,-15540000,"[Animation, Family]","[Stephen Anderson, Don Hall]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[(Jim Cummings, Travis Oates), (Jim Cummings, ...","[Walt Disney Pictures, Walt Disney Animation S...",4,15,52

# 4. Какова средняя длительность фильмов?

In [13]:
# +
answers['4'] = '110'
round(data.runtime.mean())

110

ВАРИАНТ 2

In [14]:
round(data.runtime.describe()['mean'])

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
# +
answers['5'] = '107'
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# +
answers['6'] = '5. Avatar (tt0499549)'
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,...,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[(Sam Worthington, Zoe Saldana), (Sam Worthing...","[Ingenious Film Partners, Twentieth Century Fo...",12,6,28

ВАРИАНТ 2

In [17]:
data.sort_values(by=['profit'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,...,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[(Sam Worthington, Zoe Saldana), (Sam Worthing...","[Ingenious Film Partners, Twentieth Century Fo...",12,6,28

# 7. Какой фильм самый убыточный?

In [18]:
# +
answers['7'] = '5. The Lone Ranger (tt1210819)'
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi...","[Walt Disney Pictures, Jerry Bruckheimer Films...",7,15,68

ВАРИАНТ 2

In [19]:
data.sort_values(by=['profit'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi...","[Walt Disney Pictures, Jerry Bruckheimer Films...",7,15,68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
# +
answers['8'] = '1478'
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
# +
answers['9'] = '4. The Dark Knight (tt0468569)'
max_revenue = data[data.release_year == 2008].revenue.max()
data[(data.revenue == max_revenue) & (data.release_year == 2008)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan],"[Christian Bale, Michael Caine, Heath Ledger, ...","[(Christian Bale, Michael Caine), (Christian B...","[DC Comics, Legendary Pictures, Warner Bros., ...",7,15,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:
# +
answers['10'] = '5. The Lone Ranger (tt1210819)'
min_profit = data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()
data[(data.release_year >= 2012) & (data.release_year <= 2014) & (data.profit == min_profit)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi...","[Walt Disney Pictures, Jerry Bruckheimer Films...",7,15,68

# 11. Какого жанра фильмов больше всего?

In [23]:
# +
answers['11'] = '3. Drama'
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
Counter(data.genres_list.sum()).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [24]:
max_in_list_values(data, 'genres_list')

{'count': 782, 'genre': 'Drama'}

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [25]:
# +
answers['12'] = '1. Drama'
Counter(data[data.profit > 0].genres_list.sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [26]:
# +
answers['13'] = '5. Peter Jackson'
data[['director', 'revenue']].groupby(['director']).sum().sort_values(by=['revenue'], ascending=False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [27]:
# +
answers['14'] = 'Robert Rodriguez'
directors_df = data[data.genres.str.contains('Action')].explode('directors_list')
directors_df.directors_list.value_counts().head(1)

Robert Rodriguez    9
Name: directors_list, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [28]:
# +
answers['15'] = 'Chris Hemsworth'
data_2012 = data[data.release_year == 2012][['revenue', 'actors_list']]
data_2012 = data_2012.explode('actors_list')
data_2012.groupby('actors_list').revenue.sum().sort_values(ascending=False).head(1)

actors_list
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [29]:
# +
answers['16'] = 'Matt Damon'
movies_high_budget = data[data.budget >= data.budget.mean()][['actors_list', 'original_title']]
movies_high_budget = movies_high_budget.explode('actors_list')
movies_high_budget.groupby('actors_list').count().sort_values(by='original_title', ascending=False).head(1)

             original_title
actors_list
Matt Damon               18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [30]:
# +
answers['17'] = 'Action'
nicolas_cage_movies = data[data.cast.str.contains('Nicolas Cage')]
Counter(nicolas_cage_movies.genres_list.sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [31]:
# +
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
paramount_pictures_movies = data[data.production_companies.str.contains('Paramount Pictures')]
paramount_pictures_movies[paramount_pictures_movies.profit == paramount_pictures_movies.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_year,profit,genres_list,directors_list,actors_list,actors_pairs,production_companies_list,release_month,original_title_length,overview_words_count
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,...,2002,-64831034,"[Thriller, Drama, History]",[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...","[(Harrison Ford, Liam Neeson), (Harrison Ford,...","[Paramount Pictures, Intermedia Films, Nationa...",7,20,23

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [32]:
# +
answers['19'] = '2015'
movies_by_year = data.groupby('release_year').sum('revenue')
movies_by_year[movies_by_year.revenue == movies_by_year.revenue.max()]

,budget,revenue,runtime,vote_average,profit,release_month,original_title_length,overview_words_count
release_year,,,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,842,1601,5524

# 20. Какой самый прибыльный год для студии Warner Bros?

In [33]:
# +
answers['20'] = '2014'
warner_bros_movies = data[data.production_companies.str.contains('Warner Bros')]
warner_bros_movies.groupby('release_year').sum('revenue').sort_values(by='revenue', ascending=False).head(1)

,budget,revenue,runtime,vote_average,profit,release_month,original_title_length,overview_words_count
release_year,,,,,,,,
2014,947600000,3243064519,1576,88.9,2295464519,89,176,672

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [34]:
# +
answers['21'] = '4. Сентябрь'
Counter(data.release_month).most_common(1)

[(9, 227)]

ВАРИАНТ 2

In [35]:
data[['release_month', 'original_title']].groupby('release_month').count().sort_values(by='original_title', ascending=False).head(1)

               original_title
release_month
9                         227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [36]:
# +
answers['22'] = '450'
movies_summer = data[(data.release_month >= 6) & (data.release_month <= 8)]
len(movies_summer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [37]:
# +
answers['23'] = '5. Peter Jackson'
movies_winter = data[data.release_month.isin([1,2,12])]
Counter(movies_winter.directors_list.sum()).most_common(1)

[('Peter Jackson', 7)]

ВАРИАНТ 2

In [38]:
movies_winter[['director', 'original_title']].groupby(['director']).count().sort_values(by=['original_title'], ascending=False).head(1)

               original_title
director
Peter Jackson               7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [39]:
# +
answers['24'] = '5. Four By Two Productions'
movies_by_title_length = data.explode('production_companies_list')[['production_companies_list', 'original_title_length']]
movies_by_title_length[movies_by_title_length.original_title_length == movies_by_title_length.original_title_length.max()]

                   production_companies_list  original_title_length
1448  Twentieth Century Fox Film Corporation                     83
1448                 Four By Two Productions                     83

ВАРИАНТ 2

In [40]:
movies_by_title_length.sort_values(by=['original_title_length'], ascending=False).head(3)

                   production_companies_list  original_title_length
1448                 Four By Two Productions                     83
1448  Twentieth Century Fox Film Corporation                     83
1314                            Walden Media                     62

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [41]:
# +
answers['25'] = '3. Midnight Picture Show'
movies_by_words_count = data.explode('production_companies_list')[['production_companies_list', 'overview_words_count']]
movies_by_words_count.groupby('production_companies_list').mean('overview_words_count').sort_values(by=['overview_words_count'], ascending=False).head(3)

                                overview_words_count
production_companies_list
Midnight Picture Show                          175.0
Heineken Branded Entertainment                 161.0
Room 9 Entertainment                           161.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [42]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
best_votes_interval = data.vote_average.value_counts(bins=100, ascending=False).sort_index(axis=0, ascending=False).head(3)
left = float(best_votes_interval.index[0].left)
right = float(best_votes_interval.index[2].right)
data[data.vote_average < left][['original_title', 'vote_average']].sort_values(by=['vote_average'], ascending=False).head(5)

               original_title  vote_average
9                  Inside Out           8.0
34                       Room           8.0
125        The Imitation Game           8.0
118              Interstellar           8.0
1183  The Wolf of Wall Street           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [43]:
# +
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
flatten_list = reduce(lambda first_list, second_list : first_list + second_list, data.actors_pairs.tolist())
Counter(flatten_list).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [44]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '4. Сентябрь',
 '22': '450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [45]:
# и убедиться что ни чего не пропустил)
len(answers)

27